.add-to-cart-button {
    display: flex;
    align-items: center;
    justify-content: center;
    /* להבטיח שהטקסט והאייקון ממורכזים */
    width: 100%;
    /* להבטיח שהכפתור יתפוס את כל רוחב הכרטיסייה */
    height: 50px;
    /* הגדרת גובה קבוע */
    max-height: 50px;
    border: 1px solid #1b1b1b;
    background-color: transparent;
    color: #1b1b1b;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    margin-top: auto;
    /* להבטיח שהכפתור יהיה בחלק התחתון של הכרטיסייה */
    box-sizing: border-box;
    /* להבטיח שהפדינג והבדר נלקחים בחשבון בחישוב המימדים */

    &:hover {
        background-color: #1b1b1b;
        color: white;
    }

    svg {
        margin-right: 8px;
    }
}

.out-of-stock {
    color: red;
}