.footer {
    background-color: #faebd7;
    border-radius: 0.375rem;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);

    &.dark {
        background-color: #374151;
    }

    .mobile-footer {
        word-spacing: 2px;
        margin-right: 50px;
        margin-left: 30px;
        color: #1a6e5a;

        &.dark {
            color: #f0e6f6;
            /* Text color in dark mode */
        }
    }

    ul {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        margin-top: 0;
        padding: 0;
        list-style: none;

        li {
            margin: 0 0.5rem;
        }

        a {
            text-decoration: none;
            color: #1a6e5a;

            &:hover {
                text-decoration: underline;
            }

            &.dark {
                color: #f0e6f6;
                /* Link color in dark mode */
            }
        }
    }

    .full-footer-content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .mobile-footer-content {
        display: none;

        .dark & {

            span,
            ul,
            a {
                color: #f0e6f6;
            }
        }
    }

    @media (max-width: 768px) {
        .full-footer-content {
            display: none;
        }

        .mobile-footer-content {
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-size: 0.75rem;
            text-align: center;
            width: 100%;
            padding: 1.8rem;

            .mobile-footer {
                margin: 0;
                flex: 1;
                text-align: left;
                word-spacing: 0;
                color: #1a6e5a;
                font-size: 0.80rem;

                &.dark {
                    color: #f0e6f6;
                    /* Text color in dark mode */
                }
            }

            ul {
                display: flex;
                justify-content: flex-end;
                margin: 0;
                font-size: 0.70rem;
                padding: 0;
                list-style: none;

                li {
                    margin: 0 0.25rem;
                }

                a {
                    color: #525969;

                    &.dark {
                        color: #f0e6f6;
                        /* Link color in dark mode */
                    }
                }
            }
        }
    }

    @media (min-width: 769px) {
        .mobile-footer-content {
            display: none;
        }
    }
}